/02_HSE_SE_EDA_v1 (2).ipynb
/02_HSE_SE_EDA_v1.ipynb
/con13-08.ipynb
/desktop.ini
/kodiim_linear_classification.ipynb
/labwork_linear_regression.ipynb
/labwork_linear_regression_solved.ipynb
/labwork_logistic_regression.ipynb
/metrics_hw (2).ipynb
/penguins.csv
/train_bank._gptcsv.csv
/Новая папка (2)
